/* MARKETING CONTENT
-------------------------------------------------- */

.marketing {
  .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }

  h2 {
    font-weight: 400;
  }

  .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
}
